<!-- Need to pass in the game and the x/y coordinates of the square on the first or last row -->

<p style="text-align:center"><b>Select a new piece:</p>

<div class="container">
  <select onchange="getSelect(this)">
    <option value="">Select a piece:</option>
   <% @game.pieces.where(captured: true, white: @white).each do |image| %>
   <option value=<%= image.id %>><%= image.piece_type %></option>
   <% end %>
   </select>
 </div>

<%= form_tag "#", :id => 'promoted'%>

 <script>

 function getSelect(selectObject) {
  var value = selectObject.value;  
  console.log(value);
  var target_x = <%= @x %>;
    var target_y = <%= @y %>;
    var piece_id = value;
    var path = "/games/<%= @game.id.to_s %>/promoted/" + piece_id + "/" + target_x + "/" + target_y;
    var $form =  $('#promoted');
    $form.attr('action', path); 
    console.log(path);
    $form.submit(); 
}

 </script> 