<div class="backgroundboard">
   <br />
      <p style="text-align:center"><b>Game Name: <%= @game.name %></b></p>
      <p style="text-align:center"><b>Logged In As: <%= User.find_by_id(current_user.id).email %></b></p>
      <p style="text-align:center"><b>Black Player: <%= User.find_by_id(@game.black_player_id).email %></b></p>

    <% if current_user.id == @game.turn_player_id %>
        <p style="text-align:center"><b>It is your turn to move</b></p>
        <%= simple_form_for @game, :url => game_forfeit_path(@game.id) do |f| %>
            <p style="text-align:center"><%= f.submit 'Forfeit', class: 'btn btn-danger' %></p>
        <% end %>
    <% end %>

    <div class="flex-container">
        <div class="container">
        <% for j in 1..8 %>
            <% for i in 1..8 do %>
                <% if j % 2 == 1 %>
                    <% if i % 2 == 1 %>
                        <div id="<%= i.to_s + j.to_s %>" class = "square whiteSquare droppable">
                    <% else %>
                        <div id="<%= i.to_s + j.to_s %>" class = "square brownSquare droppable">
                    <% end %>
                <% else %>
                    <% if i % 2 == 1 %>
                        <div id="<%= i.to_s + j.to_s %>" class="square brownSquare droppable">
                    <% else %>
                        <div id="<%= i.to_s + j.to_s %>" class="square whiteSquare droppable">
                    <% end %>
                <% end %>
                <% if @game.contains_piece?(i, j) %>
                    <%= image_tag(@game.pieces.find_by(x_position: i, y_position: j).name + ".png", 
                        :class => "draggable", :id => @game.pieces.find_by(x_position: i, y_position: j).id) %>
                <% end %>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
    <br />
    <p style="text-align:center"><b>White Player: <%= User.find_by_id(@game.white_player_id).email %></b></p>
    <% if current_user.id != @game.turn_player_id %>
        <p style="text-align:center"><b>It is your turn to move</b></p>
        <%= simple_form_for @game, :url => game_forfeit_path(@game.id) do |f| %>
            <p style="text-align:center"><%= f.submit 'Forfeit', class: 'btn btn-danger' %></p>
        <% end %>
    <% end %>

 <br />
</div>

<%= form_tag "#", :id => 'move'%>

<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>

<script>
    $(function() {

        $(".draggable").draggable();
        $(".droppable").droppable({
            drop: function( event, ui ) {
                var drop_target_id = event.target.id;
                var target_x = drop_target_id[0];
                var target_y = drop_target_id[1];
                var piece_id = ui.draggable.prop('id');
                var path = "/games/<%= @game.id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
                var $form =  $('#move');
                $form.attr('action', path); 
                console.log(path);
                $form.submit();         
            }     
        });

        //Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCa0OdzNtqg2CRUQibJT8ZxYjocMs8M3lQ",
            authDomain: "fir-chess-270721.firebaseapp.com",
            databaseURL: "https://fir-chess-270721.firebaseio.com",
            projectId: "firebase-chess-270721",
            storageBucket: "firebase-chess-270721.appspot.com",
            messagingSenderId: "883177546382",
            appId: "1:883177546382:web:60cc4e9cb5d519c386dfdf",
            measurementId: "G-WWMKRY87V7"
        };
        //Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var gamesRef = firebase.database().ref('games/' + '<%= @game.firebase_id %>');

        gamesRef.on('child_changed', function(snapshot) {

            console.log("child changed");
            //console.log("snapshot value is " + snapshot.val());

            location.reload(true);
            
            // $('#board').load(location.href+" #board>*","");
            // $('#current_player').load(location.href+" #current_player>*","");
                //console.log(snapshot.val());  // Alerts "San Francisco"
            //$('#scriptID').load(location.href+" #scriptID>*","");
        }, function(error) {
            console.error(error);
        });

    });
</script>