<div class="background">
   <div class="flex-container">
      <div class="column" id="left-column">
        <%= render "display", locals: {:game => @game} %>
        </div>
   
        <div class="container" id="brd">
        <%= render "board", locals: {:game => @game} %>
        </div>

        <div class="column">
        <!--  background is the background color of the launch fab -->
        <!--  color is the icon color on the launch fab. Can be light or dark -->
        <%= render_chat %>
      </div>
    </div>
    <br />
    

 <br />
</div>

<%= form_tag "#", :id => 'move'%>

<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>

<script>

    function init_draggables_and_droppables() {

        $(".draggable").draggable({ revert: 'invalid' });
        $(".droppable").droppable({
            drop: function( event, ui ) {

                var drop_target_id = event.target.id;
                var target_x = drop_target_id[0];
                var target_y = drop_target_id[1];
                var piece_id = ui.draggable.prop('id');
                var path = "/games/<%= @game.id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
                console.log(path);
                var data = $("#move").serializeArray();//serialize form inputs

                $.ajax({
                    data: data,
                    type: "POST",
                    url: path,
                    success: function(){
                    console.log("board refresh success"); 
                    }
                });
       
            }     
        });

    }

    jQuery(function($) {
        init_draggables_and_droppables();
    
        //Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCa0OdzNtqg2CRUQibJT8ZxYjocMs8M3lQ",
            authDomain: "fir-chess-270721.firebaseapp.com",
            databaseURL: "https://fir-chess-270721.firebaseio.com",
            projectId: "firebase-chess-270721",
            storageBucket: "firebase-chess-270721.appspot.com",
            messagingSenderId: "883177546382",
            appId: "1:883177546382:web:60cc4e9cb5d519c386dfdf",
            measurementId: "G-WWMKRY87V7"
        };
        //Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var gamesRef = firebase.database().ref('games/' + '<%= @game.firebase_id %>');

        gamesRef.on('child_changed', function(snapshot) {

            console.log("child changed");

            $.ajax({
                    type: "GET",
                    url: "<%= @game.id %>/load_board",
                    success: function(){
                    console.log("load board refresh success"); 
                    }
                });
    

        }, function(error) {
            console.error(error);
        });

    });
</script>