<p style="text-align:center"><b>Game Name: <%= @game.name %></b></p>
<p style="text-align:center"><b>Current Player: <%= User.find_by_id(@game.user_id).email %></b></p>
<% if current_user.id == @game.turn_player_id %>
    <%= simple_form_for @game, :url => game_forfeit_path(@game.id) do |f| %>
        <p style="text-align:center"><%= f.submit 'Forfeit', class: 'btn btn-danger' %></p>
    <% end %>
<% end %>

<div class="flex-container">
    <div class="container">
    <% for j in 1..8 %>
        <% for i in 1..8 do %>
            <% if j % 2 == 1 %>
                <% if i % 2 == 1 %>
                    <div class = "square whiteSquare" %>
                <% else %>
                    <div class = "square brownSquare" %>
                <% end %>
            <% else %>
                <% if i % 2 == 1 %>
                    <div class="square brownSquare">
                <% else %>
                    <div class="square whiteSquare">
                <% end %>
            <% end %>
            <% if @game.contains_piece?(i, j) %>
                <%= image_tag @game.pieces.find_by(x_position: i, y_position: j).name + ".png" %>
            <% end %>
            </div>
        <% end %>
    <% end %>
    </div>
</div>


<%= form_tag "#", :id => 'move'%>

<script>
$(function() {
    $(".moveable").draggable();
    $("td.space").droppable({
        drop: function( event, ui ) {
            var drop_target_id = event.target.id;
            var target_x = drop_target_id[0];
            var target_y = drop_target_id[1];
            var piece_id = ui.draggable.prop('id');
            var path = "/games/<%= @game.user_id.to_s %>/" + piece_id + "/" + target_x + "/" + target_y;
            var $form =  $('#move');
            $form.attr('action', path); 
            console.log(path);
            $form.submit();         
        }     
    });
  });
</script>